*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.6;
    font-family: "Tajawal", sans-serif;
    background-color: #97b6cf;
}

html,
body,
#root {
    min-height: 100vh;
}

#root {
    max-width: 1000px;
    margin: 0 auto;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4em;
    width: 100%;
    padding: 1.5em 1.5em 5em;
}

@media (min-width: 600px) {
    #root {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .App {
        flex-direction: row-reverse;
        padding-top: 4em;
        padding-bottom: 4em;
    }
}
